<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
    <title>Estonia</title>
</head>
<body>
    <p><em>Estonia</em></p>
    <p><em>Europe</em></p>
    <p><em>372</em></p>
    <p><em>Estonian</em></p>
    <p><em>1315944</em></p>
    <p><em>.ee</em></p>
    <p><em>EST</em></p>
    <p><em>€</em></p>
</body>
</html>